<h1>Trail: <%= @trail.name %></h1>

<h3>Address: <%= @trail.address %></h3>
<h3>Total Trips that include this trail: <%= @trail.total_use %></h3>

<h3>Trips that include this trail: </h3><% @trail.trips.each do |trip| %>
<section id='trip-<%= trip.id %>'>
  <h4>Trip: <%= trip.name %></h4>
  <h5>Total Mileage: <%= trip.total_hike %> miles</h5>
</section>
<% end %>
